<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Form</title>
    <link th:href="@{/form.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100">
<header class="text-center mb-4 mt-5">
    <h1>Add New Attraction</h1>
</header>

<div class="container mb-5">
    <form th:action="@{/save}" th:method="post" th:object="${attraction}">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" th:field="*{name}" id="name" class="form-control">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea th:field="*{description}" id="description" class="form-control"></textarea>
        </div>

        <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <select th:field="*{city}" id="city" class="form-select">
                <option value="Copenhagen">Copenhagen</option>
                <option value="Odense">Odense</option>
                <option value="Århus">Århus</option>
                <option value="Haderslev">Haderslev</option>
            </select>
        </div>

        <fieldset class="mb-3">
            <legend>Tags:</legend>
            <div class="form-check">
                <input type="checkbox" th:field="*{tags}" id="tag_historic" value="Historic" class="form-check-input">
                <label for="tag_historic" class="form-check-label">Historic</label>
            </div>
            <div class="form-check">
                <input type="checkbox" th:field="*{tags}" id="tag_family_friendly" value="Family-Friendly" class="form-check-input">
                <label for="tag_family_friendly" class="form-check-label">Family-Friendly</label>
            </div>
            <div class="form-check">
                <input type="checkbox" th:field="*{tags}" id="tag_outdoor" value="Outdoor" class="form-check-input">
                <label for="tag_outdoor" class="form-check-label">Outdoor</label>
            </div>
            <div class="form-check">
                <input type="checkbox" th:field="*{tags}" id="free" value="Free" class="form-check-input">
                <label for="free" class="form-check-label">Free</label>
            </div>
        </fieldset>

        <button type="submit" class="btn btn-primary me-5">Submit</button>
        <a href="/attractions" class="btn btn-primary custom-btn">Cancel</a>
    </form>
</div>
<!-- Footer -->
<footer class="mt-auto bg-light text-center py-3">
        <address>
            <h4>Contact Information</h4>
            <p>Email: x.stud@KEA.dk</p>
        </address>
</footer>
</body>
</html>
